<div class="p-3 bg-[#fafafa] rounded-xl cursor-grab flex flex-col gap-3">
  <div class="flex gap-1">
    <p class="font-bold" [title]="task.name">
      {{ task.name.length < 20 ? task.name : (task.name | slice:0:15) + "..." }}
    </p>
    <img class="self-start cursor-pointer ml-auto" src="images/icon-delete.svg" alt="" (click)="deleteTask()"/>
  </div>
  <p class="font-light text-sm" [title]="task.description">
    {{ task.description.length < 20 ? task.description : (task.description | slice:0:20) + "..." }}
  </p>
  <div class="flex items-center gap-1">
    <img src="images/icon-comments.svg" alt="" />
    <p
      (click)="openModal()"
      class="font-semibold text-xs text-[#2A89EF] underline underline-offset-2 cursor-pointer"
    >
      {{ task.comments.length }} Comentários
    </p>
    <p
      (click)="openEditModal()"
      class="font-semibold text-xs text-[#2A89EF] underline underline-offset-2 cursor-pointer ml-auto"
    >
      Editar
    </p>
  </div>
</div>
